*.DS_Store
*.class
*.egg-info
*.jar
*.pid
*.pyc
*.sqlite3
*.swp
*/settings/local.py
*~
.coverage
.python_history
.tox
.vagrant
MANIFEST
billy/tests/cover
billy_local.py
build
cache
collected_static
coverage.sh
data
dist/
docs/_build/*
errors/*
local_settings.*py
openstates.sqlite3
